.active {
    background-color: rgb(116, 197, 255);
    border-radius: 8px;
}

/* .offcanvas-body {
    overflow-x: hidden;
} */

.offcanvas-body>div> a {
    opacity: 0;
    animation: .25s ease-in-out;
    animation-name: fade-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
        filter: blur(5px);
        transform: translateX(10%)
    }
    to {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0%)
    }
}

.offcanvas-backdrop.show {
    opacity: 1 !important;
    /* backdrop-filter: blur(1px); */
    background-color: rgba(0, 0, 0, .5);
    overflow-x: hidden;
}

.offcanvas-header, .offcanvas-body, btn {
    color: whitesmoke
}
